$color-white: #fff;
$color-black: #000;
$color-green: #1ab5b3;
$color-gallery-bg: #2db8b7;
$color-grey-ligth: #2f373b;
$color-grey-dark: #242b2e;
$color-logo: #364048;
$color-submenu: #6b7072;


@keyframes gallery-icon-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}