* {
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   a{
    text-decoration : none;
}
.body-wrapper {
    display: flex;
    width: 100%;
}

main {
    width: 100%;
}
.logo{
	
	background-color: #fff;
	width           : 100%;
    height          : 125px;
	&-name {
    margin: 0 0;
    font-size       : 48px;
    font-weight     : 300;
    color           : #364048;
}
	&-correct{
	padding: 8% 0 0 0;
}
	span{
    transform       : rotate(-90deg);
    transform-origin: left top -10;
    float           : left;

}
	p{
    color           : #6b7072;
    height          : 16px;
    padding: 0 0 0 40%;

}
	&-position{
	padding: 7% 0 0 30%;
}
}
.sidebar {
    width: 350px;
	background-color: #242b2e;
	position: relative;
	&-inner {
		position: sticky;
		top: 0;
		bottom: 200px;
	}
	@media (max-width: 500px) {
		display: none;
	}
}
.main-menu-list {
	li {
		
		background-color: $color-grey-ligth;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
		text-align: right;
		padding: 15px 25px 15px 0;
		&:hover {
			background-color: $color-green;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
		}
	}
	a {
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		text-transform: uppercase;
		
	}
}
.filter {
	&-menu {
		text-align: right;
	}
	&-menu p {
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		color: $color-green;
		line-height: 32px;
		padding: 10px 0 10px 0;
	}
		&-menu div {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&-img {
		color: $color-green;
		font-size: 18px;
		padding-right: 25px;
		margin-left: 10px;
	}
	&-list li {
		padding-right: 25px;
		list-style-type: none;
	}
	&-list a {
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		color: $color-submenu;
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
		&:hover {
			color: #fff;
		}
	}
}
.social-networks-list {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	list-style-type: none;
 li {
	padding-left: 12px;
}
}

.social-networks p {
	color: #6b7072;
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
	text-align: right;
	padding-right: 24px;
}

.main-gallery {
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
	

.gallery{
	
	&-box{
	
	position  : relative;
	width     : 25%;
	max-height: 24%;
	float: left;
	box-sizing: border-box;
	overflow  : hidden;
	@media (max-width: 1500px) {
		width: 33%;
		max-height: 16%;
	}
	@media (max-width: 1000px) {
		width: 50%;
		max-height: 12%;
	}
	@media (max-width: 750px) {
		width: 100%;
		max-height: 6%;
	}
	}



&-box:before{
	content      : '';
	position     : absolute;
	top          : 10px;
	left         : 10px;
	right        : 10px;
	bottom       : 10px;
	border-top   : 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing   : border-box;
	transition   : 0.5s;
	transform    : scaleX(0);
	z-index      : 1;
	}
	&-box:hover:before{
	transform: scaleX(1);
	opacity  : 1;
}

&-box:after{
	content     : '';
	position    : absolute;
	top         : 10px;
	left        : 10px;
	right       : 10px;
	bottom      : 10px;
	border-left : 1px solid #fff;
	border-right: 1px solid #fff;
	box-sizing  : border-box;
	transition  : 0.5s;
	transform   : scaleY(0);
	z-index     : 1;
}
&-box:hover:after{
	transform: scaleY(1);
	opacity: 1;
}
&-img{
	background-color: $color-green;
	position: relative;
}
&-img img{
	width: 100%;
	transition: 0.5s; 
}
&-box:hover .gallery-img img{
	opacity: .2;
	transform: scale(1.2);
}
&-content{
	position  : absolute;
	width     : 100%;
	top       : 50%;
	transform : translateY(-50%);
	z-index   : 2;
	padding   : 20px;
	box-sizing: border-box;
	text-align: center;
	
	transition: .2s;

&-link {

		color: $color-white;
		transition: .2s;
		i {
			font-size: 30px;
			border: 1px solid $color-white;
			border-radius: 100%;
			padding: 20px 21px;
		}
	}
	&-link:hover {
		opacity: .7;
		i {
			animation: gallery-icon-rotate .4s;
		}
	}
	.border {
		width: 107px;
		height: 1px;
		background: $color-white;
		margin: 0 auto 20px;
	}
h2{
	margin    : 0 0 10px;
	
	color     : #fff;
	transition: 0.5s;
	transform : translateY(-50px);
	opacity   : 0;
	visibility: hidden;
}
p{
	margin    : 0 0 10px;
	
	color     : #fff;
	transition: 0.5s;
	transform : translateY(-50px);
	opacity   : 0;
	visibility: hidden;
}
i{
	margin    : 0 0 10px;
	
	transition: 0.5s;
	transform : translateY(-50px);
	opacity   : 0;
	visibility: hidden;
}
.border{
	padding   : 0 10% 0 0;
	transition: 0.5s;
	transform : translateY(-50px);
	opacity   : 0;
	visibility: hidden;
}
	 
}
&-box:hover  h2,
&-box:hover  p,
&-box:hover  i,
&-box:hover  .border{
	opacity         : 1;
	visibility      : visible;
	transform       : translateY(0px);
	transition-delay: 0.2s;
}
}




















.gallery-info {
	position: absolute;
    right: 0;
    background: $color-green;
    z-index: 2;
    width: 90px;
    height: 90px;
	&:hover {
		cursor: pointer;
		.gallery-info-contacts {
			display: block;
		}
	}
    &-inner {
		color: $color-white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid $color-white;
		border-radius: 100%;
		padding: 10px 17px;
    }
    &-contacts {
    	display: none;
    	background: red;
    	padding: 20px;
    	position: absolute;
    	bottom: 0;
    }
}





